@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation-Light";
  font-style: regular;
  font-weight: 400;
  src: url("/fonts/Sansation-Light.woff") format("woff");
}
